<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users = "profesores,vadillo" />
      <deny users="*" />
    </authorization>
  </system.web>
  <location path="Vadillo">
    <system.web>
      <authorization>
        <allow users="vadillo"/>
      </authorization>
    </system.web>
  </location>

</configuration>
