{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>



<p name="resultado" id="resultado"></p>
<h3>Pregunta: {{ pregunta.enunciado }}</h3>
{% if error_message %}<p><strong style="color:red;"><b>{{ error_message }}</b></strong></p>{% endif %}
<form action="{% url 'votar' pregunta.id %}" method="post">
{% csrf_token %}
{% for opcion in pregunta.opcion_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ opcion.id }}" />
    <label for="choice{{ forloop.counter }}">{{ opcion.opcion }}</label>{% if request.user.is_authenticated %}{%if opcion.correcta == 1 %} (Respuesta correcta, {{opcion.votos}} veces seleccionada){%else%} ({{opcion.votos}}veces seleccionada){%endif%}{%endif%}<br />
{% endfor %}
{% if request.user.is_authenticated %}
    <a href="{% url 'anadir_opc' pregunta.id %}"><h3>Insertar Opciones</h3></a> 
    <a href="{% url 'grafico' pregunta.id %}"> <h3>Ver resultado de la votacion</h3> </a><br />
{% else %}
    <input type="button" name="obtenerResultado" id="obtenerResultado" value="Comprobar respuesta" />
    <input type="submit" value="Votar" />
{% endif %}

</form>

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $("#obtenerResultado").click(function () {
            var valor = $('input:radio[name=choice]:checked').val();
            $.get('/quiz/validar_ajax/', { preguntaSeleccionada: valor }, function (data) {
                $("#resultado").append("");
                $("#resultado").append(data);
            });
        });
          
      </script>
{% endblock %}

{% endblock %}