{% extends "app/layout.html" %}
{% block content %}


{% if tema %}
    {{tema}}
{% endif %}


{% if accept_message %}<p><strong style="color:green;"><b>{{ accept_message }}</b></strong></p>{% endif %}


{% if request.user.is_authenticated %}
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    {% if latest_question_list %}
        <ul>
        {% for pregunta in latest_question_list %}
            <li><a href="{% url 'detalles' pregunta.id %}">{{ pregunta.enunciado }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay preguntas disponibles.</p>
    {% endif %}
    <a href="{% url 'pregunta_nueva' %}"><h2>Insertar pregunta nueva</h2></a> 
{% else %}
    <h3> Elige el tema de las preguntas que quieres responder:</h3>
    <form action="index" method="post">
        {% csrf_token %}
        <select name="temas">
            {% for p in temas%}
                <option value="{{p}}">{{p}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Buscar" />
    </form>
    {% if valido %}      
        <h2>{{ title }}{{tema}}.</h2>
        <h3>{{ message }}</h3>
        {% if preguntas %}
            <ul>
            {% for pregunta in preguntas %}
                <li><a href="{% url 'detalles' pregunta.id %}">{{ pregunta.enunciado }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay preguntas disponibles.</p>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}